extends layout

block content
	section.row
		div.col-sm-8
			h1 About Page
			p.
				Jaded is a simple bare bones web site that uses Jade for the templates and Markdown for all posts. It's nothing special, or complicated, it's just plain simple.
			p.
				And that's exactly what it was built for.
		div.col-sm-3.col-sm-offset-1.well
			ul.list-unstyled
				li
					a(href='/') Home
				li
					a(href='/archive') Archive